extends layout

block content
  section(class='index-section')
    h1= title
    h2 Database contains the following
    ul 
      li
        p Categories: 
          span #{numCategories}
      li 
        p Items: 
          span #{numItems}
