doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/script.js" defer) 
  body
    nav
      ul(class='flex nav-list')
        li(class='list-nav')
          a(href='/inventory') Home
        li(class='list-nav')
          a(href='/inventory/products') Products
        li(class='list-nav')
          a(href='/inventory/categories') Categories
        li(class='list-nav')
          a(href='/inventory/item/create') Add Product
        li(class='list-nav') 
          a(href='/inventory/category/create') Add Category
    block content
    footer
      span Made be Lucio Furnari
      img(src="/images/MdiGithub.svg", alt="Github Icon")
      a(href="https://github.com/LucioFurnari") https://github.com/LucioFurnari
