doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul(class='flex')
        li(class='list-nav')
          a(href='/') Home
        li(class='list-nav')
          a(href='/inventory/products') Products
        li(class='list-nav')
          a(href='/inventory/categories') Categories
        li(class='list-nav')
          a(href='/inventory/item/create') Add Product
        li(class='list-nav') 
          a(href='/') Add Category
    block content
