doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/script.js" defer) 
  body
    nav
      ul(class='flex nav-list')
        li(class='list-nav')
          a(href='/') Home
        li(class='list-nav')
          a(href='/inventory/products') Products
        li(class='list-nav')
          a(href='/inventory/categories') Categories
        li(class='list-nav')
          a(href='/inventory/item/create') Add Product
        li(class='list-nav') 
          a(href='/inventory/category/create') Add Category
    block content
