html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  list-style: none; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

h1 {
  font-size: 1.6rem; }

a {
  color: #00B7FF;
  text-decoration: none; }

.index-section {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem; }
  .index-section h1 {
    font-size: 3.6rem; }
  .index-section h2 {
    font-size: 1.2rem;
    padding: 0.5rem 0; }
  .index-section li {
    padding: 1rem;
    border: 1px solid #9c9c9c; }
    .index-section li p {
      font-weight: 700; }
      .index-section li p span {
        font-weight: 500; }

.flex {
  display: flex; }

.nav-list {
  background-color: #c4754b; }

.list-nav {
  margin-left: 26px;
  padding: 12px 0; }
  .list-nav a {
    display: inline-block;
    padding: 1rem;
    color: #ffff;
    font-size: 1.2rem;
    transition-property: background-color;
    transition-duration: 0.2s;
    border-radius: 12px; }
  .list-nav a:hover {
    background-color: #b66040; }

.active {
  background-color: #b66040; }

.form-section {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem; }
  .form-section fieldset {
    margin: 1rem 0; }

form button {
  cursor: pointer;
  border: none;
  padding: 1rem;
  background-color: #c4754b;
  color: #ffff;
  font-size: 16px;
  font-weight: 500; }

form button:hover {
  background-color: #b66040; }

.floating-label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1rem 0; }
  .floating-label span {
    color: #cf0000;
    padding-left: 1rem; }
  .floating-label label {
    position: absolute;
    top: 0rem;
    left: 0.8rem;
    font-size: 12px;
    padding-top: 4px;
    transition-property: top, left, font-size;
    transition-duration: 0.3s; }
  .floating-label input {
    padding: 0.8rem;
    padding-top: 1.2rem;
    border: none;
    border-bottom: 1px solid #9c9c9c;
    outline: none; }
  .floating-label textarea {
    padding: 0.8rem;
    padding-top: 1.2rem;
    border: none;
    border-bottom: 1px solid #9c9c9c;
    outline: none; }
  .floating-label input:placeholder-shown ~ label {
    font-size: 16px;
    top: 0.8rem;
    left: 0.8rem;
    padding-top: 0px; }
  .floating-label input:focus {
    border-bottom: 2px solid #c65e38;
    margin-bottom: -1px; }
  .floating-label input:focus ~ label {
    font-size: 12px;
    top: 0;
    left: 0.8rem;
    padding-top: 4px;
    color: #c65e38; }
  .floating-label textarea:placeholder-shown ~ label {
    font-size: 16px;
    top: 0.8rem;
    left: 0.8rem; }
  .floating-label textarea:focus {
    border-bottom: 2px solid #c65e38;
    margin-bottom: -1px; }
  .floating-label textarea:focus ~ label {
    font-size: 12px;
    top: 0;
    left: 0.8rem;
    padding-top: 4px;
    color: #c65e38; }

.products-list {
  width: 50%;
  margin-top: 2rem;
  margin-left: 2rem; }
  .products-list h1 {
    font-size: 3.6rem; }
  .products-list li a {
    display: inline-block;
    padding: 1rem;
    border-bottom: 1px solid #9c9c9c;
    width: 100%;
    font-size: 1.2rem;
    transition-property: background-color;
    transition-duration: 0.2s; }
  .products-list li a:hover {
    background-color: #c8c8c8; }

.categories-list {
  width: 50%;
  margin-top: 2rem;
  margin-left: 2rem; }
  .categories-list h1 {
    font-size: 3.6rem; }
  .categories-list li a {
    display: inline-block;
    padding: 1rem;
    border-bottom: 1px solid #9c9c9c;
    width: 100%;
    font-size: 1.2rem;
    transition-property: background-color;
    transition-duration: 0.2s; }
  .categories-list li a:hover {
    background-color: #c8c8c8; }

.item-section {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem; }
  .item-section h1 {
    font-size: 3.6rem; }
  .item-section .item-description {
    margin-bottom: 2rem; }
  .item-section .item-description h3 {
    font-weight: 700;
    font-size: 1.6rem; }
  .item-section a {
    display: inline-block;
    color: #ffff;
    background-color: #c4754b;
    padding: 1rem;
    transition-property: background-color;
    transition-duration: 0.2; }
    .item-section a:last-child {
      margin-left: 1rem; }
    .item-section a:hover {
      background-color: #b66040; }
  .item-section .item-price {
    margin-bottom: 2rem; }
    .item-section .item-price p {
      font-size: 1.2rem; }

.delete-section {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem; }

.category-section {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem; }
  .category-section a {
    display: inline-block;
    color: #ffff;
    background-color: #c4754b;
    padding: 1rem;
    font-size: 1.4rem;
    transition-property: background-color;
    transition-duration: 0.2; }
    .category-section a:last-child {
      margin-left: 1rem; }
    .category-section a:hover {
      background-color: #b66040; }
  .category-section .item-list li {
    margin-top: 2rem;
    margin-bottom: 2rem; }
    .category-section .item-list li a {
      display: inline-block;
      padding: 1rem;
      margin: 0;
      border-bottom: 1px solid #9c9c9c;
      background-color: #ffffff00;
      color: #31c4ff;
      width: 100%;
      font-size: 1.2rem;
      transition-property: background-color;
      transition-duration: 0.2s; }
    .category-section .item-list li a:hover {
      background-color: #c8c8c8; }

footer {
  display: flex;
  align-items: center;
  background-color: #c4754b;
  padding: 1rem;
  margin-top: auto; }
  footer img {
    margin-left: 2rem; }
  footer a {
    color: #000000; }

/*# sourceMappingURL=style.css.map */